#Supabase
SUPABASE_URL=
SUPABASE_SERVICE_KEY=

#Redis
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

#Python ML API
PYTHON_API_URL=

#MCP Server
MCP_API_PORT=

#Environment
NODE_ENV=
JWT_SECRET=

#Server
PORT=

#AI
AI_PROVIDER=
AI_API_KEY=
AI_MODEL=

#Google API
GOOGLE_CLIENT_ID=your-client-id
GOOGLE_CLIENT_SECRET=your-client-secret
GOOGLE_REDIRECT_URI=http://localhost:3000/drive/callback
