#Supabase
SUPABASE_URL=
SUPABASE_SERVICE_KEY=

#Redis
REDIS_URL=

#Python ML API
PYTHON_API_URL=

#MCP Server
MCP_API_PORT=

#Environment
NODE_ENV=
JWT_SECRET=

#Server
PORT=

#AI
AI_PROVIDER=
AI_API_KEY=
AI_MODEL=

